.admin-article-crea {
	width: 80%;
	margin: 0 auto;
	margin-top:50px;
	.admin-content {
		width: 67%;	
		float: left;
		h2 {
			width: 70%;
			margin-left:0;
			color: $blue;
			font-size: 24px;
			border-bottom: 1px solid $green;

		}
		h3 {
			width: 70%;
			font-family: $poppins;
			display: inline-block;
			text-align: right;
			font-weight: 300;
			color: grey;
		}
		.array-article {
			width: 100%;
			border: 1px solid #cfcfcf;
			height:300px;
			margin-top: 30px;
		}
		.btn-view {
			float: right;
			margin: 20px 0 0 20px;
			a {
			}
		}
		.btn-valid {
			float: right;
			margin: 20px 0 0 20px;
			a {

			}
		}
	}
	.part-details {
		width: 30%;
		float: right;
		padding-left: 20px;
		height: 500px;
		border: 1px solid #cfcfcf;
		box-shadow: 1px 1px 1px 1px #cfcfcf;
		border-radius: 10px;
		.attachment-content {
			
			h2 {
				width: 70%;
				color: $blue;
				font-size: 24px;
				margin: 20px 0 0;
				border-bottom: 1px solid $green;	
			}
			h4 {
				font-family: $poppins;
				color: $green;
				font-size: 14px

			}
			h3 {
				font-family: $poppins;
				color: grey;
				font-size: 12px;

			}	
			img {
				width: 100%;
				padding-right:20px;
				margin-top: 10px;
			}
			h5 {
				font-family: $poppins;
				font-size: 12px;
				text-align: right;
				padding-right: 20px;
				a {
					color: grey;
				}
			}
		}
		.lang-content {
			h2 {
				width: 70%;
				margin: 20px 0 0;
				color: $blue;
				font-size: 24px;
				border-bottom: 1px solid $green;
			}
			h4 {
				font-family: $poppins;
				color: $green;
				font-size: 14px;
				margin-bottom: 10px;
			}
			h3 {
				font-family: $poppins;
				color: grey;
				font-size: 12px;
			}
		}
	}
}