@charset "UTF-8";
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    font-family: $poppins;
    font-size: 62.5%;
}

h2,
h3,
h4,
h5,
nav ul li a {
    font-family: $rozha;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.btn-view {
    width: 150px;
    font-family: $rozha;
    background: $blue;
    border: 1px solid $blue;
    padding: 5px 30px;
    a {
        font-size: 18px;
        color: #fff;
    }
}

.btn-valid {
    // enlever la taille du commun
    //width: 150px;
    font-family: $rozha;
    background: $green;
    border: 1px solid $green;
    padding: 5px 30px;
    a {
        font-size: 18px;
        color: #fff;
    }
}

.btn-supp {
    width: 150px;
    font-family: $rozha;
    background: $red;
    border: 1px solid $red;
    padding: 5px 30px;
    margin-bottom: 20px;
    a {
        font-size: 18px;
        color: #fff;
    }
}

.btn-don {
    width: 100%;
    padding: 10px 0;
    background: $yellow;
    border: 1px solid $yellow;
    a {
        font-family: $rozha;
        color: #fff;
        font-size: 24px;
    }
}

.admin-moderation-banner {
    float: left;
    width: 20%;
    height: 100vh;
    background: #243160;
    ul {
        margin-top: 20px;
        li {
            font-family: $poppins;
            font-size: 16px;
            padding-left: 25px;
            margin-bottom: 20px;
            a {
                color: #fff;
            }
        }
    }
}