@charset "UTF-8";

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    font-family: $poppins;
    font-size: 62.5%;
}

h2,
h3,
h4,
h5,
nav ul li a {
    font-family: $rozha;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    .help-us {
        background: $blue;
        color: #fff;
        width: 473.5px;
        height: 57px;
        padding: 10px 5%;
        font-size: 27px;
        font-family: $rozha;
        border: 1px solid $blue;
    }
  
}

.btn-view {
    width: 150px;
    font-family: $rozha;
    background: $blue;
    border: 1px solid $blue;
    padding: 5px 30px;
    a {
        font-size: 18px;
        color: #fff;
    }
}

.btn-valid {
    width: 150px;
    font-family: $rozha;
    background: $green;
    border: 1px solid $green;
    padding: 5px 30px;
    a {
        font-size: 18px;
        color: #fff;
    }
}

.btn-supp {
    width: 150px;
    font-family: $rozha;
    background: $red;
    border: 1px solid $red;
    padding: 5px 30px;
    margin-bottom: 20px;
    a {
        font-size: 18px;
        color: #fff;
    }
}