.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}
body {
	font-family: $poppins;
    font-size: 62.5%; 
}

h2,
h3,
h4,
h5,
nav ul li a{
	font-family: $rozha;
}

a { 
	text-decoration: none;
}
.help-us {
	background: $blue;
	color: #fff;
	width: 473.5px;
	height: 57px;
	padding: 10px 5%;
	font-size: 27px;
	font-family: $rozha;
	border: 1px solid $blue;
}

.partners-row1 img,
.partners-row2 img{
	width: 20%;
}


