.donationpage-content {
	.donation-pres {
		.donationpage-donation{
			h2 {
				font-size: 24px;
				color: $blue;
				text-align: center;
				margin: 10px 0 34px 0;
			}
			p {
				font-size: 20px;
				color: $red;
				line-height: 180%;
				text-align: center;
				font-family: $rozha;
				margin-bottom: 48px;
			}
		}
		.donationpage-details{
			width: 100%;
			background-image: url(../../img-content/class-prof-green.jpg);
			background-size: cover;
			h2 {
				font-size: 24px;
				color: $green;
				text-align: right;
				background: #fff;
				padding-right: 30px;
				span {
					font-size: 48px;
				}
			}
		}
		p {
			font-size: 14px;
			text-align: right;
			padding: 20px 30px;
			color: #fff;
			&:nth-of-type(1) {
				margin-top: 20px;
			}
			&:nth-of-type(2) {
				margin-bottom: 20px;
			}
		}
		.btn-don {
			a {

			}
		}	
	}
	.donationpage-sponsorship{
		background-image: url(../../img-content/class-prof-blue.jpg);
		background-size: cover;
		h2 {
			width: 100%;
			font-size: 24px;
			color: $blue;
			margin-top: 50px;
			text-align: right;
			padding-right: 30px;
			background: #fff;
		}
		p {
			font-size: 14px;
			text-align: center;
			padding: 20px 30px;
			color: #fff;
			&:nth-of-type(1) {
				margin-top: 20px;
			}
			&:nth-of-type(2) {
				margin-bottom: 20px;
			}				
		}
		.btn-don {

		}
	}
	.donationpage-member{
		background-image: url(../../img-content/class-prof-red.jpg);
		background-size: cover;
		h2 {
			font-size: 24px;
			color: $red;
			text-align: right;
			padding-right: 30px;
			margin-top: 50px;
			background: #fff;
		}
		p {
			font-size: 14px;
			text-align: left;
			padding: 20px 30px;
			color: #fff;
			&:nth-of-type(1) {
				margin-top: 20px;
			}
			&:nth-of-type(2) {
				margin-bottom: 20px;
			}				
		}
		.btn-don {

		}
	}
	.donationpage-suggestion{
		h2 {
			font-size: 24px;
			padding-right: 30px;
			color: $blue;
			text-align: right;
			margin-top: 50px;
			span {
				font-size: 48px;
			}
		}
		p {
			font-size: 14px;
			text-align: right;
			padding: 10px 30px;	
			color: #000;
		}
		input {
			width: 100%;
			height: 150px;
			box-shadow: 0 1px 0px 0 rgba(0,0,0,0.24);
			border: 1px solid #cfcfcf;
		}
		.btn-valid {
			float: right;
			background: #fff;
			border:2px solid $green;
			padding: 2px 30px;
			margin: 20px 20px 50px;
			a {
				color: $green;
			}
		}
	}
}


/*-------------RESPONSIVE---------------*/
@media screen and (min-width: 768px) {
	.donationpage-header {
		display: none;
	}
	
	.donationpage-content {
		.donation-pres {
			.donationpage-donation{
				width:90%;
				h2 {
					display: none;
				}
				p {
					font-size: 32px;
					text-align: right;
					margin-bottom: 0;
				}
			}
			.donationpage-details{
				width: 100%;
				h2 {
					font-size: 32px;
					padding-right: 60px;
					margin-top: 30px;
					span {
						font-size: 60px;
					}
				}
			}
			p {
				font-size: 16px;
				text-align: right;
				padding: 20px 30px;
				color: #fff;
				&:nth-of-type(1) {
					margin-top: 20px;
				}
				&:nth-of-type(2) {
					margin-bottom: 20px;
				}
			}
			.btn-don {
				a {
					font-size: 32px;
				}
			}	
		}
		.donationpage-sponsorship{
			h2 {
				width: 100%;
				font-size: 32px;
				color: $blue;
				margin-top: 50px;
				text-align: right;
				padding-right: 60px;
				padding-bottom: 20px;
				background: #fff;
			}
			p {
				font-size: 16px;
				text-align: center;
				padding: 20px 30px;
				color: #fff;
				&:nth-of-type(1) {
					margin-top: 20px;
				}
				&:nth-of-type(2) {
					margin-bottom: 20px;
				}				
			}
			.btn-don {
				a {
					font-size: 32px;
				}
			}
		}
		.donationpage-member{
			h2 {
				font-size: 32px;
				padding-right: 60px;
				margin-top: 50px;
				padding-bottom: 20px;
			}
			p {
				font-size: 16px;
				text-align: left;
				padding: 20px 30px;
				color: #fff;
				&:nth-of-type(1) {
					margin-top: 20px;
				}
				&:nth-of-type(2) {
					margin-bottom: 20px;
				}				
			}
			.btn-don {
				a {
					font-size: 32px;
				}
			}
		}
		.donationpage-suggestion{
			h2 {
				font-size: 32px;
				padding-right: 60px;
				color: $blue;
				text-align: right;
				margin-top: 50px;
				span {
					font-size: 48px;
				}
			}
			p {
				font-size: 14px;
				text-align: right;
				padding: 10px 30px;	
				color: #000;
			}
			input {
			}
			.btn-valid {
				padding: 2px 30px;
				margin: 30px 30px 50px 0;
				a {
				}
			}
		}
	}
}

@media screen and (min-width: 1040px) {
	.donationpage-header {
		display: initial;
		height: 0;
		h1 {
			a{

			}
			#logo {
				width: 50%;
			}
		}
		nav {
			display: block;
			ul  {
				text-align: center;
				display: flex;
				justify-content: start-end;
				li {
					width: 100%;
					padding-top: 10px;
					a {
						font-size: 18px;
						color: $blue;
					}

				}
				.help-us-nav  {
					background: $blue;
					padding: 10px 20px;
					a {
						color: #fff;
					}
				}
			}
		}
	}
	.donationpage-content {
		.donation-pres {
			.donationpage-donation{
				h2 {
					font-size: 24px;
					color: $blue;
					text-align: center;
					margin: 10px 0 34px 0;
				}
				p {
					font-size: 20px;
					color: $red;
					line-height: 180%;
					text-align: center;
					font-family: $rozha;
					margin-bottom: 48px;
				}
			}
			.donationpage-details{
				width: 100%;
				background-image: url(../../img-content/class-prof-green.jpg);
				background-size: cover;
				h2 {
					font-size: 24px;
					color: $green;
					text-align: right;
					background: #fff;
					padding-right: 30px;
					span {
						font-size: 48px;
					}
				}
			}
			p {
				font-size: 14px;
				text-align: right;
				padding: 20px 30px;
				color: #fff;
				&:nth-of-type(1) {
					margin-top: 20px;
				}
				&:nth-of-type(2) {
					margin-bottom: 20px;
				}
			}
			.btn-don {
				a {

				}
			}	
		}
		.donationpage-sponsorship{
			background-image: url(../../img-content/class-prof-blue.jpg);
			background-size: cover;
			h2 {
				width: 100%;
				font-size: 24px;
				color: $blue;
				margin-top: 50px;
				text-align: right;
				padding-right: 30px;
				background: #fff;
			}
			p {
				font-size: 14px;
				text-align: center;
				padding: 20px 30px;
				color: #fff;
				&:nth-of-type(1) {
					margin-top: 20px;
				}
				&:nth-of-type(2) {
					margin-bottom: 20px;
				}				
			}
			.btn-don {

			}
		}
		.donationpage-member{
			background-image: url(../../img-content/class-prof-red.jpg);
			background-size: cover;
			h2 {
				font-size: 24px;
				color: $red;
				text-align: right;
				padding-right: 30px;
				margin-top: 50px;
				background: #fff;
			}
			p {
				font-size: 14px;
				text-align: left;
				padding: 20px 30px;
				color: #fff;
				&:nth-of-type(1) {
					margin-top: 20px;
				}
				&:nth-of-type(2) {
					margin-bottom: 20px;
				}				
			}
			.btn-don {

			}
		}
		.donationpage-suggestion{
			h2 {
				font-size: 24px;
				padding-right: 30px;
				color: $blue;
				text-align: right;
				margin-top: 50px;
				span {
					font-size: 48px;
				}
			}
			p {
				font-size: 14px;
				text-align: right;
				padding: 10px 30px;	
				color: #000;
			}
			input {
				width: 100%;
				height: 150px;
				box-shadow: 0 1px 0px 0 rgba(0,0,0,0.24);
				border: 1px solid #cfcfcf;
			}
			.btn-valid {
				float: right;
				background: #fff;
				border:2px solid $green;
				padding: 2px 30px;
				margin: 20px 20px 50px;
				a {
					color: $green;
				}
			}
		}
	}

}