footer {
	background: #4A4A4A;
	ul {
		display: flex;
  		justify-content: center;
  		align-items: center;
 		align-content: space-around;
		li {
			margin-top: 15px;
			margin-bottom: 15px;
			a {
				color: #fff;
			}
		}
	}
}