


/* a ajouter commun */

header {

	overflow: hidden;
	background-repeat: no-repeat;
	height: 465px;
	background-size: cover;
	h1 {
		a {
			#logo {
			}
		}
	}
	nav {
		display: none;
		ul  {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			list-style-type: none;
		}
	}
	
}
