.homepage-content {
	.homepage-section {
		.homepage-presentation {
			h3 {
				color: $red;
				font-size: 37px;
				margin-top: 32px;
			}
			p {
				
			}
		}
		.homepage-newsletter {
			h4{

			}
			p {

			}

		}
	}
}
