

/* -----
--------------------------------------------------------
------------- Main
----- */

main.makedonation-main {
    font-family: $poppins;
    h3.makedonation {
        font-size: 56px;
        text-align: right;
        font-family: $rozha;
        color: $green;
    }
    p.donation-type {
        width: 80%;
        margin: 0 auto;
        text-align: right;
        font-size: 14px;
        color: $red;
    }
    div.donation-www {
        margin-top: 5%;
        position: relative;
        font-size: 14px;
        div.www-left {
            height: 350px;
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
            }
            img.make-a-donation-www {
                display: block;
            }
            p {
                position: absolute;
                top: 34%;
                left: 28%;
                font-size: 24px;
                font-family: $rozha;
                text-align: center;
                color: #fff;
                z-index: 11;
            }
            div.block-deco-img {
                position: absolute;
                top: 40%;
                left: 0;
                width: 100%;
                height: 65px;
                background: $yellow;
                z-index: 10;
            }
        }
        div.www-right {
            h4 {
                width: 80%;
                margin: 0 auto 5% auto;
                font-size: 24px;
                font-family: $rozha;
                color: $blue;
            }
            p {
                width: 80%;
                margin: 5% auto;
            }
        }
    }
    div.donation-cheque {
        font-size: 14px;
        div.cheque-right {
            float: right;
            width: 235px;
            height: 280px;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        div.cheque-left {
            margin-bottom: 10%;
            h4 {
                width: 80%;
                margin: 0 0 5% 40%;
                font-size: 24px;
                font-family: $rozha;
                color: $blue;
            }
            p {
                width: 90%;
                margin: 2% auto;
                text-align: right;
                span.cheque-adress {
                    color: $red;
                }
            }
        }
    }
    div.donation-virement {
        font-size: 14px;
        div.virement-center {
            overflow: hidden;
            img {
                width: 100%;
            }
            img.make-a-donation {
                display: block;
            }
            img.make-a-donation-mq1040 {
                display: none;
            }
        }
        div.virement-info {
            h4 {
                width: 80%;
                margin: 0 0 5% 5%;
                font-size: 24px;
                font-family: $rozha;
                color: $blue;
            }
            p {
                width: 90%;
                margin: 5% auto;
                span.credit {
                    font-weight: 700;
                }
            }
        }
    }
}


/* ---
----------------------------------------
----------------- RESPONSIVE
----------------------------------------
-------------- */


/* ---------------
------------------------------------------------------------- 768 PX -----------------*/

@media screen and (min-width: 768px) {
    main.makedonation-main {
        div.donation-www {
            div.www-left {
                p {
                    top: 40%;
                    left: 35%;
                }
                div.block-deco-img {
                    top: 50%;
                    left: 0;
                }
            }
        }
    }
}


/* ---------------
------------------------------------------------------------- 950 PX ----------------*/

@media screen and (min-width: 950px) {
    main.makedonation-main {
        h3.makedonation {
            margin-right: 10%;
            font-size: 72px;
        }
        p.donation-type {
            font-size: 18px;
        }
        div.donation-www {
            div.www-left {
                float: left;
                width: 50%;
                img {
                    width: 100%;
                }
                img.make-a-donation-www {
                    display: block;
                }
                img.make-a-donation {
                    display: none;
                }
                img.make-a-donation-mq1040 {
                    display: block;
                }
                p {
                    top: 30%;
                    left: 30%;
                    width: 40%;
                    font-size: 24px;
                }
                div.block-deco-img {
                    width: 60%;
                    margin: 0 20%;
                    top: 40%;
                    left: 0;
                }
            }
            div.www-right {
                float: right;
                width: 50%;
                h4 {
                    font-size: 24px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
        div.donation-cheque {
            margin: -10% 5% 0 2%;
            font-size: 16px;
            div.cheque-right {
                float: right;
                width: 350px;
                height: 500px;
                overflow: hidden;
                margin: 5% 0 1% 0;
                img {
                    width: 100%;
                }
            }
            div.cheque-left {
                float: left;
                width: 55%;
                margin: 5% 5% 5% 0;
                h4 {
                    text-align: right;
                    width: 100%;
                    margin: 10% 0 5% 0;
                    font-size: 24px;
                    color: $blue;
                }
                p {
                    width: 100%;
                    margin: 2% 0 2% 0;
                    text-align: right;
                    span.cheque-adress {
                        color: $red;
                    }
                }
            }
        }
        div.donation-virement {
            font-size: 16px;
            div.virement-center {
                img.make-a-donation {
                    display: none;
                }
                img.make-a-donation-mq1040 {
                    display: block;
                }
            }
            div.virement-info {
                h4 {
                    width: 80%;
                    margin: 0 0 5% 5%;
                    font-size: 24px;
                    font-family: $rozha;
                    color: $blue;
                }
                p {
                    width: 90%;
                    margin: 1% auto;
                    span.credit {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}


/* ---------------
------------------------------------------------------------- 1040 PX ----------------*/

@media screen and (min-width: 1040px) {
    main.makedonation-main {
        p.donation-type {
            font-size: 20px;
        }
        div.donation-www {
            font-size: 18px;
            div.www-left {
                p {
                    width: 50%;
                    left: 25%;
                    font-size: 28px;
                }
            }
            div.www-right {
                h4 {
                    font-size: 36px;
                }
            }
        }
        div.donation-cheque {
            font-size: 18px;
            div.cheque-left {
                h4 {
                    font-size: 36px;
                }
            }
        }
        div.donation-virement {
            font-size: 18px;
            div.virement-info {
                h4 {
                    font-size: 36px;
                }
            }
        }
    }
}


/* --------------
--------------------------------------------------------------1200 PX ----------------*/

@media screen and (min-width: 1200px) {}
