header.missionpage-header {
    position: relative;
    background-image: none;
    height: auto;
    margin: 0 0 5% 0;
    h1 {
        a {
            #logo {
                display: none;
                position: absolute;
                z-index: 22;
                position: fixe;
                width: 150px;
                margin: 0;
                height: 1;
            }
        }
    }
    /* ----- HEADER ----- */
}


/* ----- 
--------------------------------------------------------
------------- WORLD WIDE WEB 
----- */

main.makedonation-main {
    
}


/* ---
----------------------------------------
----------------- RESPONSIVE
----------------------------------------
-------------- */


/* ---------------
------------------------------------------------------------- 768 PX -----------------*/

@media screen and (min-width: 768px) {
   
}


/* ---------------
------------------------------------------------------------- 950 PX ----------------*/

@media screen and (min-width: 950px) {
    
}


/* ---------------
------------------------------------------------------------- 1040 PX ----------------*/

@media screen and (min-width: 1040px) {
    
}


/* -------------- 
--------------------------------------------------------------1200 PX ----------------*/

@media screen and (min-width: 1200px) {}