header.missionpage-header {
    /*
    position: relative;
    background-image: none;
    height: auto;
    margin: 0 0 5% 0;
    h1 {
        a {
            #logo {
                display: none;
                position: absolute;
                z-index: 22;
                position: fixe;
                width: 150px;
                margin: 0;
                height: 1;
            }
        }
    }*/
    /* ----- HEADER ----- */
    /*h2 {
        font-family: $rozha;
        font-size: 24px;
        text-align: center;
        height: auto;
        margin: 0;
        color: $blue;
    }
    */
}


/* ----- 
--------------------------------------------------------
------------- MAIN 
----- */

main.missionpage-main {
    font-size: 12px;
    font-family: $poppins;
    /* ----- 
--------------------------------------------------------
------------- fonctionnement 
----- */
    section.functionning {
        div.functionning {
            em {
                font-style: normal;
                color: $red;
            }
        }
        div.f-part1 {
            height: 200px;
            position: relative;
            div {
                position: absolute;
                top: 5%;
                width: 100%;
                height: 156px;
                z-index: 3;
                background: $blue;
                h3.missionpage-h3 {
                    width: 58%;
                    margin: 15% 0 1% 8%;
                    color: #FFF;
                    font-size: 24px;
                    font-weight: 400;
                    font-family: $rozha;
                }
            }
            img {
                position: absolute;
            }
            img.fctng-mobile-right {
                height: 200px;
                bottom: 0;
                right: 0;
                z-index: 4;
            }
            img.fctng-mobile-left {
                width: 200px;
                top: 0;
                left: 0;
                z-index: -1;
            }
            img.fctng-mq768-left,
            img.fctng-mq768-right {
                display: none;
                width: 592px;
            }
            img.fctng-mq768-left {
                top: 0;
                left: 0;
                z-index: 4;
            }
            img.fctng-mq768-right {
                bottom: 0;
                right: 0;
            }
        }
        div.f-part2 {
            width: 80%;
            z-index: 10;
            margin: 10% auto;
            text-align: right;
        }
        div.f-part3,
        div.f-part4 {
            width: 80%;
            margin: 10% auto;
        }
        div.f-part4 {
            text-align: right;
        }
    }
    /* ----- 
--------------------------------------------------------
------------- strategie 
----- */
    section.strategy {
        margin: 5% 0;
        div.strategies {
            width: 80%;
            margin: 10% auto;
            padding: 0;
            font-size: 12px;
            font-family: $poppins;
        }
        div.sp2 {
            text-align: right;
        }
        div em.stg {
            font-style: normal;
            color: $blue;
        }
        div.s-part1 {
            width: 100%;
            height: 150px;
            position: relative;
            border-bottom: 6px solid $blue;
            border-top: 6px solid $blue;
            overflow: hidden;
            div.wrap-strat-img {
                float: right;
                img.strat-img1 {
                    float: right;
                    width: 100%;
                    top: 0;
                    right: 0;
                }
                img.strat-img1-mq950 {
                    display: none;
                    height: 100%;
                    top: 0;
                    right: 0;
                }
            }
            img.strat-imgscript {
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
            }
            h3.missionpage-h3-inv {
                margin: 4% 0 0 27%;
                width: 30%;
                text-align: right;
                font-size: 24px;
                color: $blue;
            }
            h3.missionpage-h3-inv2 {
                //margin: -6% 0 0 3%;
                margin: -12% 0 0 3%;
                font-size: 24px;
                color: $blue;
            }
        }
    }
    /* ----- 
--------------------------------------------------------
------------- actions 
----- */
    section.function-action {
        div.a-part2,
        div.a-part3,
        div.a-part4 {
            width: 80%;
            margin: 5% auto;
        }
        div.a-part2,
        div.a-part4 {
            text-align: right;
        }
    }
    /* ----- 
--------------------------------------------------------
------------- objectifs 
----- */
    section.strategy {
        div.o-part1 {
            width: 100%;
            height: 150px;
            position: relative;
            overflow: hidden;
            border-bottom: 6px solid $red;
            border-top: 6px solid $red;
            div.wrap-goal-img {
                height: 170px;
                float: right;
                img.goal-img1 {
                    height: 100%;
                    top: 0;
                    right: 0;
                }
                img.goal-img1-mq950 {
                    display: none;
                    height: 100%;
                    top: 0;
                    right: 0;
                }
            }
            img.goal-imgscript {
                position: absolute;
                height: 100%;
                top: -3%;
                left: 5%;
                z-index: -1;
            }
            h3.missionpage-h3-inv,
            h3.missionpage-h3-inv2 {
                float: left;
                width: 30%;
                margin: 3% 0 0 24%;
                font-size: 36px;
                font-family: $rozha;
                text-align: right;
                color: $blue;
            }
        }
        div.our-goals {
            position: relative;
            h4.goal {
                width: 80%;
                margin: 0 auto 10% auto;
                font-size: 18px;
                font-family: $rozha;
                color: $red;
            }
            img.goal-script-img {
                position: absolute;
                width: 170px;
                right: 5%;
                top: -8%;
                z-index: -1;
            }
            ul {
                width: 70%;
                list-style-type: circle;
                li {
                    padding: 1% 0;
                }
            }
            p.thatwhy {
                width: 85%;
                margin: 5% auto;
                font-size: 14px;
                text-align: center;
                font-family: $rozha;
                color: $green;
            }
        }
    }
    /* ----- 
--------------------------------------------------------
------------- budget 
----- */
    section.function-action-budget {
        div.f-part1 {
            div {
                z-index: -1;
                h3.missionpage-h3 {
                    text-align: center;
                    width: 58%;
                    margin: 12% auto 0 auto;
                }
            }
        }
        img {
            position: absolute;
        }
        img.goal-mobile-right {
            width: 200px;
            bottom: 0;
            right: 0;
            z-index: 10;
        }
        img.goal-mobile-left {
            width: 200px;
            top: 0;
            left: 0;
            z-index: 10;
        }
        img.goal-mq768-left,
        img.goal-mq768-right {
            display: none;
            width: 592px;
        }
        img.goal-mq768-left {
            top: 0;
            left: 0;
            z-index: 10;
        }
        img.goal-mq768-right {
            bottom: 0;
            right: 0;
            z-index: 10;
        }
        div.b-part2 {
            width: 80%;
            margin: 5% auto;
            color: $green;
        }
        div.b-part3 {
            width: 80%;
            margin: 5% auto;
            text-align: left;
        }
        div.percentage-topic {
            height: 470px;
            margin-bottom: 10%;
            font-size: 14px;
            color: #FFF;
            text-align: center;
            div.percent1 {
                height: 240px;
                padding-top: 10%;
                background: $red;
            }
            div.percent2 {
                height: 150px;
                padding-top: 5%;
                background: $yellow;
            }
            div.percent3 {
                height: 50px;
                padding-top: 1%;
                background: $green;
            }
            div.percent4 {
                height: 30px;
                //padding-top: 5%;
                background: $blue;
            }
        }
    }
}


/* ---
----------------------------------------
----------------- RESPONSIVE
----------------------------------------
-------------- */


/* ---------------
------------------------------------------------------------- 768 PX -----------------*/

@media screen and (min-width: 768px) {
    main.missionpage-main {
        section.functionning {
            div.f-part1 {
                div {
                    h3.missionpage-h3 {
                        font-size: 36px;
                        margin: 8% 0 1% 30%;
                    }
                }
            }
            div.f-part2,
            div.f-part3,
            div.f-part4 {
                margin: 5% auto;
            }
        }
        section.strategy {
            div.strategies {
                margin: 10% auto 5% auto;
            }
            div.s-part1 {
                h3.missionpage-h3-inv {
                    width: 40%;
                    margin: 5% 0 0 15%;
                    font-size: 36px;
                }
            }
            div.s-part2,
            div.s-part3,
            div.s-part4 {
                margin: 5% auto;
            }
        }
        section.function-action-budget {
            div.percentage-topic {
                div.percentage-budget {
                    font-size: 16px;
                }
            }
        }
    }
}


/* ---------------
------------------------------------------------------------- 950 PX ----------------*/

@media screen and (min-width: 950px) {
    /*header.missionpage-header {
        position: relative;
        height: 150px;
        z-index: -50;
        margin: 0 0 2% 0;
        h1 {
            a {
                #logo {
                    display: block;
                }
            }
        }
        h2 {
            display: none;
        }
    }*/
    main.missionpage-main {
        font-size: 18px;
        section.functionning {
            div.f-part1 {
                height: 392px;
                div {
                    h3.missionpage-h3 {
                        font-size: 36px;
                        margin: 8% 0 1% 35%;
                    }
                }
                img {
                    position: absolute;
                    width: 392px;
                }
                img.fctng-mobile-right {
                    display: none;
                }
                img.fctng-mobile-left {
                    display: none;
                }
                img.fctng-mq768-left,
                img.fctng-mq768-right {
                    display: block;
                    width: 392px;
                }
            }
            div.f-part2 {
                position: absolute;
                top: 50vh;
                left: 19%;
                width: 38%;
                margin: 0 auto 5%;
                text-align: right;
            }
            div.f-part3,
            div.f-part4 {
                width: 55%;
                margin: 5% 10%;
            }
            div.f-part4 {
                margin: 5% 10% 5% 35%;
            }
        }
        section.strategy {
            div.strategies {
                font-size: 16px;
            }
            div.s-part1 {
                div.wrap-strat-img {
                    width: 55%;
                    z-index: 5;
                    float: right;
                    img.strat-img1 {
                        display: none;
                        width: 100%;
                    }
                    img.strat-img1-mq950 {
                        display: block;
                        height: 100%;
                    }
                }
                h3.missionpage-h3-inv {
                    font-size: 36px;
                    margin: 3% 0 0 10%;
                }
            }
        }
        /* --- actions ----- */
        section.function-action {
            position: relative;
            div.f-part1 {
                div {
                    h3.missionpage-h3 {
                        font-size: 36px;
                        margin: 5% 0 0 60%;
                    }
                }
            }
            div.a-part2 {
                position: absolute;
                top: 28vh;
                left: 25%;
                width: 40%;
                margin: 5% auto;
            }
            div.a-part3 {
                width: 45%;
                margin: -8% 0 0 10%;
            }
            div.a-part4 {
                width: 55%;
                margin: 3% 10% 5% 35%;
            }
        }
        /* --- objectifs ----- */
        section.strategy {
            div.o-part1 {
                div.wrap-goal-img {
                    width: 55%;
                    img.goal-img1 {
                        display: none;
                        width: 100%;
                    }
                    img.goal-img1-mq950 {
                        display: block;
                    }
                }
                h3.missionpage-h3-inv {
                    font-size: 36px;
                    margin: 5% 0 0 10%;
                }
            }
            div.our-goals {
                h4.goal {
                    font-size: 36px;
                }
                img.goal-script-img {
                    width: 250px;
                    right: 5%;
                    top: -5%;
                }
                ul {
                    li {
                        padding: 1% 0;
                    }
                }
                p.thatwhy {
                    font-size: 28px;
                }
            }
        }
        /* --- budget ----- */
        section.function-action-budget {
            position: relative;
            div.f-part1 {
                div {
                    h3.missionpage-h3 {
                        font-size: 36px;
                        margin: 5% 0 0 40%;
                    }
                }
            }
            div.b-part2bis {
                position: absolute;
                top: 35vh;
                left: 30%;
                left: 25%;
                width: 40%;
                margin: 5% auto;
            }
            div.b-part3 {
                margin: 2% auto 5% auto;
            }
        }
    }
}


/* ---------------
------------------------------------------------------------- 1040 PX ----------------*/

@media screen and (min-width: 1040px) {
    font-size: 18px;
    header.missionpage-header {
        position: relative;
        height: 150px;
        z-index: -50;
        margin: 0 0 2% 0;
        h1 {
            a {
                #logo {
                    display: block;
                }
            }
        }
        h2 {
            display: none;
        }
    }
    main.missionpage-main {
        /* -- fonctionnement -- */
        section.functionning {
            position: relative;
            div.functionning {
                font-size: 18px;
            }
            div.f-part1 {
                div {
                    position: absolute;
                    background: $blue;
                    h3.missionpage-h3 {
                        width: 100%;
                        margin: 0;
                        padding: 3% 5% 5% 55%;
                        font-size: 36px;
                    }
                }
            }
            div.f-part2 {
                top: 27%;
                left: 18%;
                width: 48%;
            }
        }
        /* -- ||| stratégie ||| -- */
        section.strategy {
            div.strategies {
                margin: 5% auto;
                font-size: 18px;
            }
            div.s-part1 {
                div.wrap-strat-img {
                    img.strat-img1 {
                        display: none;
                        width: 45%;
                    }
                }
                h3.missionpage-h3-inv {
                    font-size: 36px;
                    padding: 0 10% 0 0;
                }
            }
        }
        /* -- actions -- */
        section.function-action {
            div.a-part2 {
                top: 25vh;
                left: 22%;
                width: 45%;
                margin: 5% auto 7% auto;
            }
            div.a-part3 {
                width: 50%;
                margin: -7% 0 0 10%;
            }
            div.a-part4 {
                margin: 3% 10% 5% 35%;
            }
        }
        /* -- ||| objectifs ||| -- */
        section {}
        section.function-action-budget {
            div.b-part2 {
                font-size: 20px;
            }
        }
    }
}


/* -------------- 
--------------------------------------------------------------1200 PX ----------------*/

@media screen and (min-width: 1200px) {
    main.missionpage-main {
        section.functionning {
            div.functionning {
                font-size: 20px;
            }
            div.f-part1 {
                height: 592px;
                img {
                    width: 592px;
                }
                img.fctng-mq768-left,
                img.fctng-mq768-right {
                    width: 592px;
                }
            }
            div.f-part2 {
                top: 20%;
                left: 25%;
                width: 30%;
                margin: 5% auto;
                z-index: 5;
                text-align: right;
            }
        }
        section.strategy {
            div.s-part1 {
                h3.missionpage-h3-inv {
                    font-size: 36px;
                }
            }
            div.strategies {
                font-size: 20px;
            }
        }
        section.function-action {
            div.a-part2 {
                top: 28vh;
                left: 28%;
                width: 40%;
                margin: 8% auto 5% auto;
            }
            div.a-part3 {
                width: 35%;
                margin: -13% 0 5% 19%;
            }
            div.a-part4 {
                margin: 7% 10% 5% 35%;
            }
        }
        section.function-action-budget {
            div.b-part2bis {
                left: 30%;
            }
            div.b-part3bis {
                position: absolute;
                top: 55vh;
                left: 20%;
                width: 40%;
                margin: 5% auto;
            }
        }
    }
}