@import "partial/reset";
$red: #902a15;
$yellow: #ffca59;
$green: #2b6847;
$blue: #243160;
$rozha: 'Rozha One',
serif;
$poppins: 'Poppins',
sans-serif;
@import "partial/commun";
@import "partial/header";
@import "partial/aboutus";
@import "partial/homepage";
@import "partial/missionpage";
@import "partial/makedonation";
@import "partial/footer";
@import "partial/admin-homepage";
@import "partial/admin-crea-modif-supp";
@import "partial/admin-back-mail";
@import "partial/admin-back-article";
@import "partial/admin-list-articles";
@import "partial/admin-list-mail";
@import "partial/donationpage";

@import "partial/admin-moderation-home";